#root {
  position: relative;
  width: 100vw;
  height: 100vh;
}

html, body {
  line-break: normal;
}

.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-default {
  background-color: #fffcf6;
}

.background-image {
  background-image: url('/textures/Start_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} 

body {
  margin: 0;
  /* background-color: #f6f6ff; */
}

@font-face {
  font-family: 'InstrumentSerif-Italic';
  src: url('/font/InstrumentSerif-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'InstrumentSerif-Regular';
  src: url('/font/InstrumentSerif-Regular.ttf') format('truetype');
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 8s;
  z-index: 1;
}

.loadingScreen__board {
  padding: 64px;
  text-align: center;
  transition: opacity 0.4s;
}

.loadingScreen__title {
  font-size: 8rem;
  color: #afacaa;
  margin: 0;
  margin-bottom: 24px;
  font-family: "InstrumentSerif-Regular", serif;
  letter-spacing: 5px;
  font-weight: 400; 
}

.loadingScreen__paragraph {
  font-size: 1.5rem;
  color: #afacaa;
  font-family: "InstrumentSerif-Italic", serif;
  letter-spacing: 5px;
  font-weight: 400; 
  opacity: 100%;
  margin-block-end: 10%;
  margin-block-start: 0;
  line-height: 30%;
}

.loadingScreen__button {
  padding: 16px 48px;
  background-color: #e48ccc;
  color: white;
  border: 1px;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 60px;
  transition: background-color 0.4s;
  font-family: "InstrumentSerif-Regular", serif;
  letter-spacing: 3px; 
}

.loadingScreen__button:hover {
  background-color: #99618a;
  cursor: pointer;
}

.loadingScreen__button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.loadingScreen__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

.loadingScreen__progress__value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f0dced;
  transition: width 0.4s;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
}

.portal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.portal-overlay.active {
  opacity: 1; /* Show the overlay when active */
}

.portal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2cqw; 
}

.portal-text {
  background-color: rgba(255, 255, 255, 0.30);
  border: 1px solid rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: 10px;
  position: relative;
  width: 20vw;
  left: 4cqw;
  top: 4cqw; 
  padding-top: 2cqw;
  padding-bottom: 2cqw;
  padding-left: 1cqw;
  padding-right: 1cqw;

}

h1 {
  line-height: 100%;
  font-size: 2.5cqw;
  font-weight: 400;
  margin-block-end: 0px;
  margin-block-start: 0px;
  display: block;
}

.poem-text {
  font-size: 1.5cqw;
  opacity: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
  line-height: 1.3;
  font-family: "InstrumentSerif-Italic", serif;
  display: block;
}

.mobile {
  font-size: 0cqw;
}


/* ------------------------------------------------- */

@media screen and (max-width: 991px) {
    h1 {
      line-height: 100%;
      font-size: 2.5rem;
      font-weight: 400;
      margin-block-end: 0px;
      margin-block-start: 0px;
    }

    .loadingScreen__paragraph {
      line-height: 30%;
      line-height: 50%;
      font-size: 2rem;
      opacity: 100%;
      margin-block-end: 10%;
      margin-block-start: 0;
      font-family: "InstrumentSerif-Italic", serif;
    }

    .portal-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 2cqw; 
    }
    
    .portal-text {
      background-color: rgba(255, 255, 255, 0.30);
      border: 1px solid rgba(255, 255, 255, 0.20);
      backdrop-filter: blur(50%);
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backdrop-filter: 10px;
      position: relative;
      width: 25vw;
      left: 4cqw;
      top: 4cqw; 
      padding-top: 2cqw;
      padding-bottom: 2cqw;
      padding-left: 1cqw;
      padding-right: 1cqw;
    
    }
    
    h1 {
      line-height: 100%;
      font-size: 3cqw;
      font-weight: 400;
      margin-block-end: 0px;
      margin-block-start: 0px;
      display: block;
    }
    
    .poem-text {
      font-size: 1.8cqw;
      opacity: 100%;
      margin-block-end: 0;
      margin-block-start: 0;
      line-height: 1.3;
      font-family: "InstrumentSerif-Italic", serif;
      display: block;
    }
    

    
    
}
@media screen and (max-width: 767px) {
  h1 {
    line-height: 100%;
    font-size: 2rem;
    font-weight: 400;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  .loadingScreen__title {
    font-size: 6rem;
    color: #afacaa;
    margin: 0;
    margin-bottom: 24px;
    font-family: "InstrumentSerif-Regular", serif;
    letter-spacing: 5px;
    font-weight: 400; 
  }  
  

  .loadingScreen__paragraph {
    line-height: 30%;
    font-size: 1.4rem;
    opacity: 100%;
    margin-block-end: 10%;
    margin-block-start: 0;
    font-family: "InstrumentSerif-Italic", serif;

  }


  .portal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2cqw; 
  }
  
  .portal-text {
    background-color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: 10px;
    position: relative;
    width: 35vw;
    left: 4cqw;
    top: 4cqw; 
    padding-top: 2cqw;
    padding-bottom: 2cqw;
    padding-left: 2cqw;
    padding-right: 2cqw;
  
  }
  
  h1 {
    line-height: 100%;
    font-size: 4.cqw;
    font-weight: 400;
    margin-block-end: 0px;
    margin-block-start: 0px;
    display: block;
  }
  
  .poem-text {
    font-size: 3cqw;
    opacity: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 1.3;
    font-family: "InstrumentSerif-Italic", serif;
    display: block;
  }

  .mobile {
    font-size: 0cqw;
  }
  

}

@media screen and (max-width: 479px) {

  .loadingScreen__title {
    font-size: 4rem;
    color: #afacaa;
    margin: 0;
    margin-bottom: 24px;
    font-family: "InstrumentSerif-Regular", serif;
    letter-spacing: 5px;
    font-weight: 400; 
  }

  .loadingScreen__button {
    padding: 8px 32px;
    background-color: #e48ccc;
    color: white;
    border: 1px;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 60px;
    transition: background-color 0.4s;
    font-family: "InstrumentSerif-Regular", serif;
    letter-spacing: 3px; 
  }

  .loadingScreen__paragraph {
    font-size: 1.2rem;
    opacity: 100%;
    padding-bottom: 16px;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 80%;
    font-family: "InstrumentSerif-Italic", serif;
  }

  
  .portal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2cqw; 
  }
  
  .portal-text {
    background-color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(50%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: 10px;
    position: relative;
    width: 35vw;
    left: 4cqw;
    top: 4cqw; 
    padding-top: 2cqw;
    padding-bottom: 2cqw;
    padding-left: 2cqw;
    padding-right: 2cqw;
  
  }
  
  h1 {
    line-height: 100%;
    font-size: 5cqw;
    font-weight: 400;
    margin-block-end: 0px;
    margin-block-start: 0px;
    display: block;
  }

  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .poem-text {
    font-size: 3cqw;
    opacity: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 100%;
    font-family: "InstrumentSerif-Italic", serif;
    display: block;
  }

  .mobile {
    font-size: 3cqw;
    opacity: 100%;
    margin-block-end: 0;
    margin-block-start: 0;
    line-height: 100%;
    font-family: "InstrumentSerif-Italic", serif;
    display: block;
    color: #afacaa;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
  }
  

  }